.DS_Store
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

data/
logs/
log/
checkpoints/
checkpoint/
ckpt/
runs/
results/
outputs/
wandb/

*.pth
*.pt
*.ckpt
*.onnx

*.npy
*.npz
*.hdr
*.exr
*.tif
*.tiff

.env
.venv/
venv/
env/
